.loader-container {
  width: 100%;
  height: calc(100vh - 80px);

  position: relative;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loader > div {
  color: #274c77;
}

.loader p {
  width: 150px;
  margin: 20px 0;

  color: #40798c;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}