.ship {
  /* width: calc(50% - 20px); */
  flex-basis: 45%;
  height: auto;
  margin: 10px;
}

.ship-container {
  width: 100%;
  padding: 15px 10px;
  font-size: 13px;

  /* max-height: 350px;  */
  overflow-y: auto;

  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, .075);
}

.ship-container .ship__header {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.ship-container .icon {
  color: #3454D1;
  margin-right: 5px;
}

.ship-container .name {
  font-size: 18px;
  color: #3454D1;
  margin: 10px 0;
}

.ship__details {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.ship__details .column {
  width: 50%;

  padding-left: 10px;

  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 1.5;

  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.ship__details .column span {
  font-size: 14px;
}

.ship__details span strong {
  font-weight: 600;
}

.ship .cargo-items__expansion {
  margin-top: 10px;
  border: 0;
  box-shadow: none;

  background-color: #dcedff;
}

.ship .cargo-items__expansion:before {
  background-color: transparent;
}

.expansion__summary {
  padding: 0 10px !important;
}

.ship .expansion__items {
  padding: 0 10px 0 10px;
}

.cargo-items {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cargo-items li {
  width: 100%;
  min-height: 40px;
  margin: 10px 0;
}