.dock-container {
  width: 100%;
  height: 100%;
  
  background-color: #fff;
  box-shadow: 1px 0 15px 1px rgba(0, 0, 0, .05);

  overflow-y: auto;
}

.dock-container .dock {
  height: 100%;
}

.dock-container .items-container {
  padding: 20px;
}

.dock-container .cargo-items {
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dock-container .message {
  color: #40798c;
  text-transform: uppercase;

  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}

.dock-container .cargo-items li {
  width: calc(50% - 7px);
  margin: 0 7px 7px 7px;
}

.dock-container .cargo-items li:nth-child(odd) {
  margin-left: 0;
}
.dock-container .cargo-items li:nth-child(even) {
  margin-right: 0;
}