.cargo-item {
  width: 100%;
  padding: 7px 10px 7px 5px;
  background-color: #fff;

  font-size: 13px;
  color: #070707;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;

  transition: .3s ease-in-out;

  cursor: grab;
  user-select: none;
}

.cargo-item:hover {
  background-color: #EFEFEF;
}

.cargo-item > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cargo-item .edit-icon {
  box-sizing: content-box;
  font-size: 16px;
  cursor: pointer;
  padding: 3px;
  transition: .2s ease-in-out;

  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 3px;
}

.cargo-item .edit-icon:hover {
  background-color: #3454D1;
  color: #fff;
}