.dock__form-container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, .1);
}

.dock__form-container > p {
  margin: 0 0 10px 0;
}

.dock__form .form__group {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.dock__form .form__group:last-child {
  margin-bottom: 0;
}

.dock__form .form__group.pull-right {
  justify-content: flex-end;
}

.dock__form .form__group button {
  margin: 0 10px;
}

.dock__form .form__group button:last-child {
  margin-right: 0;
}
