.port-container {
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  font-family: 'Open Sans', sans-serif;
}

.ship__column {
  width: 100%;
  height: 100vh;
  padding: 20px 20px 20px 0;

  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
}

.dock__column {
  height: 100vh;
}


.message-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container h3 {
  color: #40798c;
  text-transform: uppercase;

  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
}