.header {
  padding: 20px;
}

.header .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header .header__bottom {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header__bottom .column {
  width: 33.33%;
  font-size: 12px;
  letter-spacing: 0.25px;
  line-height: 1.5;

  text-align: center;

  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.header__bottom .column span {
  font-size: 14px;
}

.header__bottom span strong {
  font-weight: 600;
}